/* ================================= 
  Base Element Styles
==================================== */

/* 
`box-sizing: border-box;` is a CSS property that determines how an element's width and height
are calculated. By default, the width and height of an element are calculated based on the content
of the element and any padding or borders added to it. However, using box-sizing: border-box;
changes this calculation to include the padding and border within the width and height of the element,
so that any specified width or height of the element remains consistent even with padding and border added.
*/
* {
  box-sizing: border-box
}

body {
  font-family: "Varela Round", sans-serif;
  line-height: 1.6;
  color: #3a3a3a;
  margin: 0;
}

/* ================================= 
  Base Layout Styles
==================================== */
/* ---- page container ---- */
.page-container {
  display: flex;
  flex-direction: column;
}

/* ---- header container ---- */
.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  background-color: #f0f0f0;
}

/* ---- name ---- */
.name {
  font-size: 24px;
}

.name a {
  display: block;
  padding: 10px 15px;
  color: #323232;
}

/* ---- navigator ---- */
.hamburger-menu {
  display: none;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.item-menu {
  display: flex;
  flex-direction: row;
  font-size: 16px;
}

.item-menu li {
  /* display: flex;
  flex-direction: row;
  align-items: center; */
  /* just let <a> element can center in single <li> container */
  margin-right: 20px;
}

.item-menu a {
  color: #323232;
}

.item-menu a:hover {
  color: #3acec2;
}

/* ---- banner ---- */
.banner {
  font-size: 30px;
  text-align: center;
  color: #323232;
  background: #d5e1ef;
  padding: 2em 0;
  /* imply 60px padding in top and bottom */
}

/* --- title --- */
.title {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 8px;
}

/* --- content --- */
.box-container {
  display: flex;
  flex-direction: row;
  /* let flex item center in the container */
  justify-content: center;
  /* center horizontally */
  flex-wrap: wrap;
  /* wrap flex items to next line if needed */
  width: 100%;
  max-width: 1200px;
  /* let container center in page */
  margin: auto;
}

.box1,
.box2,
.box3,
.box4 {
  font-size: 16px;
  text-align: center;
  background-color: #96a3b2;
  width: 45%;
  /* need to set smaller than 50%, because we need give margin some space */
  height: 120px;
  margin: 5px;
}

/* --- button --- */
.button-container {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.submit-button {
  border: none;
  padding: 15px;
  background-color: #e4f0fe;
}

/* ================================= 
  Media Queries
==================================== */
@media (max-width: 800px) {

  /* Styles for screens smaller than 800px */
  .item-menu {
    display: none;
  }

  .hamburger-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 30px;
  }

  .hamburger-menu .hamburger div {
    width: 35px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
  }
}

@media (max-width: 500px) {

  /* Styles for screens smaller than 500px */
  .box-container {
    display: flex;
    flex-direction: column;
    /* let flex item center in the container */
    align-content: center;
    /* center horizontally */
    width: 100%;
  }

  .box1,
  .box2,
  .box3,
  .box4 {
    width: 80%;
  }
}