/* ================================= 
  Base Styles
==================================== */

/* ================================= 
  Media Queries
==================================== */

/* @media (min-width: 1200px) {
  .main-header,
  .main-nav {
    display: flex;
  }
  .main-header {
    flex-direction: row;
    align-items: space-between;
  }
} */

/* @media (min-width: 1025px) {
  .main-header {
    flex-direction: row;
    justify-content: space-between;
  }
} */
