doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title express demo
  body
    form.form-example(action=`/myName?name=${name}` method='GET')
      .input-container
        label(for='name') Enter your name: 
        input#name(type='text' name='name' required='')
      .button-container
        input(type='submit' value='submit')


//- form 的 action 會將 input 的值附加在 url 上  
